@model sampleTest.Models.AdminLogin

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/Common_Layout.cshtml";

    <style>

        h1 {
            color: #88B04B;
            font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
            font-weight: 900;
            font-size: 40px;
            margin-bottom: 10px;
            margin-left: 10%;
        }

        p {
            color: #404F5E;
            font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
            font-size: 20px;
            margin: 0;
        }

        i {
            color: #9ABC66;
            font-size: 100px;
            line-height: 200px;
            margin-left: 37px;
        }

        .card {
            background: white;
            padding: 45px;
            border-radius: 4px;
            box-shadow: 0 2px 3px #C8D0D8;
            display: inline-block;
            margin: 0 auto;
            margin-left: 38%;
        }
    </style>
    <style>
        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
            opacity: 1;
            transition: opacity 0.6s;
            margin-bottom: 15px;
        }

            .alert.success {
                background-color: #04AA6D;
            }

            .alert.info {
                background-color: #2196F3;
            }

            .alert.warning {
                background-color: #ff9800;
            }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .hidden-label {
            display: none;
        }

        .closebtn:hover {
            color: black;
        }
    </style>
    <style>
        .password-wriper {
            position: relative;
        }

        #passwordField {
            padding-right: 30px; /* Adjust the padding to accommodate the eye icon */
        }

        #togglePassword {
            position: absolute;
            top: 50%;
            right: 5px; /* Adjust the right position as needed */
            transform: translateY(-50%);
            cursor: pointer;
            z-index: 1; /* Ensure the eye icon is above the input field */
        }
    </style>
}

<section>
    <div class="add_task_outer">
        <div class="add_task_head">
            <div class="left">
                Change Password
            </div>
        </div>
        <div class="task-content-field">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <form action="">
                    @Html.HiddenFor(model => model.ID)

                    <div class=form-field>
                        @Html.LabelFor(model => model.Username, "User Name", htmlAttributes: new { @class = "control-label col-md-2" })

                        <div class="form-field">
                            @*@ <label for="LeadAgentName_VC">Lead Agent Name </label>*@



                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "" } })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class=form-field>


                        @Html.LabelFor(model => model.Password, "New Password", htmlAttributes: new { @class = "control-label col-md-2" })

                        <div class="form-field">
                            @*@ <label for="LeadAgentName_VC">Lead Agent Name </label>*@
                            <div class="password-wriper">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @id = "passwordField", autocomplete = "new-password" } })
                                <span id="togglePassword" class="fa fa-eye" onclick="togglePasswordVisibility()"></span>
                            </div>

                        </div>

                    </div>

                    <div class="submit-outer">
                        <input type="submit" value="Update" class="btn" />

                        <input type="button" value="Back to List" class="btn btn-danger" onclick="@(" window.location.href='" + @Url.Action("Profile", "AdminLoginUpdated") + "' ");" />

                    </div>
                </form>
            }
            @if (TempData["StatusMess"].ToString() != null && TempData["StatusMess"].ToString() != string.Empty)
            {

                <div id="ad" class="alert info" style="margin-top:10px">
                    <span class="closebtn">&times;</span>
                    <strong> @TempData["StatusMess"].ToString()</strong>
                </div>
            }
        </div>

    </div>
</section>

<!DOCTYPE html>
@section scripts
{


    <script type="text/javascript">
        setTimeout(function () {
            $("#ad").hide();
        }, 5000);
    </script>
    <script src="~/Scripts/bootstrap.js"></script>

    <script>

        $(document).ready(function () {

            // Clear the password field when the page loads
            $("#passwordField").val(null);
        });
        function togglePasswordVisibility() {
            var passwordField = document.getElementById("passwordField");
            var toggleIcon = document.getElementById("togglePassword");


            if (passwordField.type === "password") {
                passwordField.type = "text";
                toggleIcon.className = "fa fa-eye-slash"; // Change the eye icon to a crossed-out eye
            } else {
                passwordField.type = "password";
                toggleIcon.className = "fa fa-eye"; // Change the icon back to an eye
            }
        }



    </script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


}
